@model IEnumerable<Model.Usuario>

@{
	ViewData["Title"] = "Index";
}

<h1>Usuário</h1>

@if (!@ViewBag.Authenticate)
{
	<div class="row h5">
		<div class="col-md-12">
			<span>Para acessar essa página, é necessário estar logado no sistema.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 p-0 m-1">
			<form method="post" asp-controller="Home" asp-action="Index">
				<input class="btn btn-link" type="submit" value="Entrar" />
			</form>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col-md-2">
			<h5>Olá, @ViewBag.User!</h5>
		</div>
	</div>
	<br />
	if (@ViewBag.Role == "Admin")
	{
		<p>
			Deseja criar uma conta?
			<a asp-action="Create">Criar Conta</a>
		</p>
	}
}


