@model IEnumerable<Model.Usuario>

@{
	ViewData["Title"] = "Index";
}

<h1>Usuário</h1>

@if (@ViewBag.Authenticate)
{
	<div class="row">
		<div class="col-md-2">
			<h5>Olá, @ViewBag.User!</h5>
		</div>
	</div>
	<br />
	if (@ViewBag.Role == "Admin")
	{
		<p>
			Deseja criar uma conta?
			<a asp-action="Create">Criar Conta</a>
		</p>
	}
}